{% extends "base.html.twig" %}

{% block body %}

    <h1>Contacts</h1>

    <p>Our email: example@gmail.com</p>
    <p>Our address: road example 333</p>
    <p>Our facebook: example</p>
    <p>Our country: not home and not street, our country ...</p>



    <a class="btn btn-outline-info" href="{{ path('contact-form') }}">Send email to us</a>



{% endblock %}