{% extends "base.html.twig" %}

{% block body %}

    <h1>Elastic search:</h1>

<div class="count">
    <h4>Total found: {{ pagination.getTotalItemCount }}</h4>
</div>
{#    {{ dump(pagination) }}#}
<table>
    {% for product in pagination %}
        <tr {% if loop.index is odd %}class="color"{% endif %}>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.description }}</td>
        </tr>
    {% endfor %}
</table>

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

{% endblock %}