{% extends 'base.html.twig' %}

{% block body %}
    <h2>Products</h2>

    <form action="{{ path('search') }}">
        <label for="value">Search value:</label>
        <input class="form-check" required type="text" name="value" id="value">
        <button class="btn btn-outline-info" type="submit">Search</button>
    </form>

    {% if products|length > 0 %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Images</th>
            <th scope="col">Tags</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
        <tr>
            <th scope="row">{{ product.id }}</th>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price }}</td>
            {% for image in product.images %}
                <td>
                    {{ image.picture }}
                </td>
                {% for meta in image.metas %}
                    <td>{{ meta.tag }}</td>
                {% endfor %}
            {% endfor %}
        </tr>
        {% endfor %}

        </tbody>
    </table>
        {% if previous >= 0 %}
            <a class="btn btn-sm" href="{{ path('product', { offset: previous }) }}">Previous</a>
        {% endif %}
        {% if next < products|length %}
            <a class="btn btn-sm" href="{{ path('product', { offset: next }) }}">Next</a>
        {% endif %}
        <br>

        {% for page in pages %}
            <a class="btn btn-sm"  href="{{ path('product', { offset: page*per_page }) }}">{{ page }}</a>
        {% endfor %}

    {% else %}
        <div>No products</div>
    {% endif %}
{% endblock %}