body {
    background-color: whitesmoke;
}

.navigation {
    margin-top: 50px;
}

.current, .page, .previous, .next, .last, .first {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
}

.current {
    background-color: lightblue;
}

a, a:visited, a:hover {
    text-decoration: none;
    color: #000;
}