{% extends 'base.html.twig' %}

{% block title %}Contact-form{% endblock %}

{% block body %}
    <div class="bg-white p-5 contact-form">
        <div class="form-group">
            {{ form_start(contact_form) }}
            {{ form_row(contact_form.subject, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(contact_form.email, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(contact_form.message, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            <input type="submit" value="Send" class="btn btn-primary mt-2">
        </div>
        {{ form_end(contact_form) }}
    </div>
{% endblock %}
