<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('homepage') }}">Sibers News</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ path('about') }}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('contacts') }}">Contacts</a>
                    </li>
                </ul>
            </div>
{#            {% if app.user %}#}
{#                <div class="mb-3 small navbar-dark">#}
{#                    You are logged in as #}
{#                </div>#}
{#            {% endif %}#}
            <ul class="nav navbar-nav navbar-right">
                {% if app.user %}
                    <span class="nav-link text-black">{{ app.user.username }}</span>
                <li>
                    <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                </li>
                {% else %}
                <li><a class="nav-link" href="{{ path('app_login') }}">Login</a></li>
                <li>
                    <a class="nav-link" href="{{ path('registration') }}">Register</a>
                </li>
                {% endif %}
            </ul>
            <a class="btn btn-outline-success" style="margin-left: auto" href="{{ path('create-email') }}">Subscribe on new articles</a>
        </div>
    </nav>
    {% block exchange %}{% endblock %}
    <div class="container">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-primary" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}
    </div>
    </body>
</html>
