{% extends 'base.html.twig' %}

{% block title %}All articles{% endblock %}

{% block exchange %}


    <ul class="list-group list-group-flush col-2 position-absolute" style="width: 250px">
        <h4>Exchange rates:</h4>
        {% for value in exchange_rates %}
            <li class="list-group-item">{{ value }}</li>
        {% endfor %}
    </ul>

{% endblock %}

{% block body %}
    <h1 class="mt-2">All articles:</h1>

    <a class="btn btn-outline-info my-2" href="{{ path('article.create') }}">Add new article</a>

    {% if articles|length > 0 %}

    <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for article in articles %}
            <div class="col">
                <div class="card h-75">
                    <img src="{{ asset('uploads/' ~ article.image) }}" class="card-img-top h-75" alt="{{ asset('uploads/' ~ article.image) }}">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ path('article.show', {id:article.id}) }}">{{ article.title }}</a>
                        </h5>
                        <p class="card-text">{{ article.body }}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Published at: {{ article.publishAt|format_datetime('medium', 'short') }}</small>
                    </div>
                </div>
            </div>
    {% endfor %}
    </div>

    {% else %}
        <p>No articles.</p>
    {% endif %}

{% endblock %}
