{% extends "base.html.twig" %}

{% block body %}

    <h1>{{ article.title }}</h1>

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ asset('uploads/' ~ article.image) }}" class="img-fluid rounded-start" alt="{{ asset('uploads/' ~ article.image) }}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text">{{ article.body }}</p>
                    <p class="card-text"><small class="text-muted">Published at: {{ article.publishAt|format_datetime('medium', 'short') }}</small></p>
                </div>
            </div>
        </div>
    </div>

    <a class="btn btn-outline-dark" href="{{ path('homepage') }}">Go back</a>

{% endblock %}