{% extends "base.html.twig" %}

{% block body %}

    <h1>Create email for newsletter</h1>

    <div class="bg-white p-5 contact-form">
        <div class="form-group">
            {{ form_start(email_form) }}
        </div>
        {{ form_end(email_form) }}
    </div>

    <a class="btn btn-outline-dark" href="{{ path('homepage') }}">Go back</a>

{% endblock %}