{% extends 'base.html.twig' %}

{% block title %}Hello EmailController!{% endblock %}

{% block body %}

    <ul>
        {% for email in emails %}

            <li>
                {{ email.email }}
            </li>

        {% endfor %}
    </ul>


{% endblock %}
